.main-type-bass {
	font-family: 'IBM Plex Sans KR', sans-serif;
}

.main-playButton-PlayButton {
    border-radius: 5px;
	transition: opacity .4s ease;
	--spice-button: var(--shizuku-theme-400);
	--spice-text: var(--shizuku-grey-800);
}

.main-entityHeader-image {
	border-radius: 10px;
	--spice-rgb-shadow: 200, 200, 200;
}